[submodule "Modules/wwDotnetBridge"]
	path = Modules/wwDotnetBridge
	url = https://github.com/RickStrahl/wwDotnetBridge.git
[submodule "Modules/CefSharp"]
	path = Modules/CefSharp
	url = https://github.com/cefsharp/CefSharp.git
